@import url('https://fonts.googleapis.com/css?family=Poppins:wght200,300,500,600,700&display=swap');
.Wrapper{
    display: flex;
}
.Wrapper .static-text{
    color : #fff;
    font-size: 60px;
    font-weight: 400;
}
.Wrapper .dynamic-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-text li {
    list-style: none;
    color: #8f4ced;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.dynamic-text li span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 107%;
    background: #8f4ced;
    left: 0;
    border-left: 0px solid #fff;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    4%,60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0%;
    }
}

  
/* new <p> thingy */
body {
    margin:0;
    padding:0;
    background:black;
    color: #8539ff;
    font-family: 'Rubik', sans-serif;
}
p {
    font-size:40px;
    display:block;
    text-align:-webkit-center;
    line-height:100px;
    height:230px;
    margin-top:10vh;
    margin-left:11vw;
    text-transform:uppercase;
    letter-spacing:10px
}
/* <p> animation is in the Js file */


#consoleText {
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px rgba(110, 0, 255, 0.08);
    color: rgba(110, 0, 255, 0.08);
    position: fixed; /* Sit on top of the page content */
    /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}